<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.web.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.oracle.web.bean.Book">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="flname" jdbcType="VARCHAR" property="flname" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="chubanshe" jdbcType="VARCHAR" property="chubanshe" />
    <result column="zhuangtai" jdbcType="VARCHAR" property="zhuangtai" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.web.bean.Book">
    insert into book (id, flname, name, 
      price, chubanshe, zhuangtai, 
      username, fid)
    values (#{id,jdbcType=INTEGER}, #{flname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{chubanshe,jdbcType=VARCHAR}, #{zhuangtai,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{fid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oracle.web.bean.Book">
    update book
    set flname = #{flname,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      chubanshe = #{chubanshe,jdbcType=VARCHAR},
      zhuangtai = #{zhuangtai,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, flname, name, price, chubanshe, zhuangtai, username, fid
    from book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, flname, name, price, chubanshe, zhuangtai, username, fid
    from book
  </select>
</mapper>